<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>295 Topics</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <img width="50%" src="https://roxsross-linktree.s3.amazonaws.com/295-full-website-banner-transparent-black.png"> 
            <h1>Topics</h1>
            <h2 style="color: rgb(10, 73, 98);">Versión de la aplicación: <span id="version"></span></h2>       
            <script>
                fetch('/getVersion')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('version').innerText = data.version;
                    })
                    .catch(error => console.error('Error:', error));
            </script>
        </div>
        <div class="row">

            <ul class="list-group">
                <% topics.forEach(function(topic){ %>
                    <li class="list-group-item">
                        <%- topic.Name %>
                    </li>
                    <%});%>
            </ul>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>